@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	word-break: break-all;
	font-size: 10px;
	/* scroll-padding-top: 50px; */
}
body {
	font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.pc {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.sp {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

img {
	width: 100%;
	height: auto;
}

.inner {
  width: 100%;
  max-width: 880px;
  padding-inline: 30px;
	margin-inline: auto;
  	@media screen and (max-width: 767px) {
      padding-inline: 20px;
    }
}
.header {
	width: 100%;
	background-color: aquamarine;
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 1000; 
}
.header .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .site-title {
		display: flex;
		column-gap: 0.951rem;
		align-items: center;
		scroll-padding-top: 50px;
	  transition-duration: 0.4s;
	  height: 100%;

}
.site-title img  {
	width: 2.549rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
}
.site-title h1 a {
	height: 5rem;
	font-size: 1.8rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.site-title h1 a:hover {
		opacity: 0.5;
}
.header__nav ul {
	display: flex;
	column-gap: 1rem;
	align-items: center;

}
.header__nav ul li a {
	height: 5rem;
	font-size: 1.4rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.header__nav a {
		transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
  cursor: pointer; /* マウスオーバーで手の形に */

}

.header__nav a:hover {
	opacity: 0.5;
}
