html {
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	word-break: break-all;
	/* scroll-padding-top: 50px; */
}




.inner {
  width: 100%;
  max-width: 940px;
  padding-inline: 30px;
  	@media screen and (max-width: 767px) {
      padding-inline: 20px;
    }
}