@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	word-break: break-all;
	font-size: 10px;
	/* scroll-padding-top: 50px; */
}
body {
	font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
	color: #505050;
}
.pc {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.sp {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

img {
	width: 100%;
	height: auto;
}
.inner {
  width: 100%;
  max-width: 940px;
  padding-inline: 3rem;
	margin-inline: auto;
	margin: 0 auto;
  @media screen and (max-width: 767px) {
    max-width: 767px;
		padding-inline: 2rem !important;
		margin-inline: auto;
	 	margin: 0 auto;
    }
}
.header {
	/* max-width: 1080px; */
	width: 100%;
	padding-inline-start: 70px;
	padding-inline-end: 26px;
	background-color: aquamarine;
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 1000;
	@media screen and (max-width:767px) {
   max-width: 768px;
	 	padding-inline-start: unset;
	padding-inline-end: unset;

	}
}
.header .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: unset;
}
.header .site-title {
		display: flex;
		column-gap: 0.951rem;
		align-items: center;
		scroll-padding-top: 5rem;
	  transition-duration: 0.4s;
	  height: 100%;

}
.site-icon {
	width: 2.549rem;
		display: flex;
	align-items: center;
	@media screen and (max-width:767px) {
		padding-left: 5px;
	}
}
.site-title h1 a {
	height: 5rem;
	font-size: 1.8rem;
	line-height: calc(33 / 18);

	display: flex;
	align-items: center;
	transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
  cursor: pointer; /* マウスオーバーで手の形に */
	@media screen and (max-width:767px) {
		font-size: 2rem;
		line-height: calc(33 / 20);

	}
}

.site-title h1 a:hover {
		opacity: 0.5;
}

.header__nav {
	/* transform: translateX(40px); */
	@media screen and (max-width:767px) {

	display: none;
}
}

.header__nav ul {
	display: flex;
	column-gap: 0.3rem;
	align-items: center;

}
.header__nav ul li a {
	height: 5rem;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	padding-left: 3px;
	padding-right: 4px;
}
.header__nav a {
	transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
  cursor: pointer; /* マウスオーバーで手の形に */

}

.header__nav a:hover {
	opacity: 0.5;
}
  /* ここからmain */
.fv {
	width: 100%;
	/* height: 83.4rem; */
	height: auto;
	padding-top: 5rem;
	padding-bottom: 2.3rem;
	@media screen and (max-width:767px) {
		padding-bottom: unset;

	}
}

.fv-wrap {
	width: 100vw;
	/* padding-block-start: 50px; */
	position: relative;
  left: 50%;          /* 親(inner)の中央基準に */
  right: 50%;
  margin-left: -50vw; /* 画面全体分マイナスにして幅を広げる */
  margin-right: -50vw;
@media screen and (max-width:767px) {
	max-width: 767px;
}	
}
.fv__image img {
	@media screen and (max-width:767px) {
	width: 100%;
	height: auto;
	display: block;		
}
}
/* picture {
	width: 100%;
	height: auto;
	display: block;
} */
.overlay {
@media screen and (max-width:767px) {

  position: absolute;
  top: 43%; /* 好きな位置に調整 */
  left: 0;
  width: 100%;
  height: 50%; /* 長方形の高さを調整 */
  background: rgba(255, 255, 255, 0.72); /* ← 透けた白 */
  display: flex;
  align-items: center;
  justify-content: center;
}
}
.fv__contents {
position: absolute;
left: 0;
top: 20%;
background-color: rgba(255, 255, 255, 0.72);
width: 492px;
height: 21rem;
flex-direction: column;

@media screen and (max-width:767px) {
	max-width: 311px;
	height: 148px;
	top: 43%;
}
}
.fv__text {
	width: 100%;
	padding-top: 6rem;
	/* padding-bottom: 0;  念のため  */
  /* margin-bottom: -15px;  これが調整用 */

	@media screen and (max-width:767px) {
  padding-top: 4.9rem;
	text-align: center; /* 各行の中央をそろえる */
  margin: 0 auto;
	padding-inline: 2rem;
	margin-inline: auto;
	/* margin-bottom: 0; */
}
}

.catch-name {
	position: absolute;
	top: 13%;
	left: 20%;
	font-size: 2.5rem;
	/* translate: 9.9rem 2.3rem; */
	white-space: nowrap;
	color: #505050;
	@media screen and (max-width:767px) {
		font-size: 2rem;
		justify-content: left;
		/* translate: 2rem 2.3rem; */
		top: 15%;
		left: 6%;
	}
}
.catch-text {
	position: absolute;
	top: 31%;
	left: 20%;
	font-size: 4rem;
	color: #0D96A0;
	line-height: calc(60 / 40);
	text-indent: 0;
	/* translate: 9.9rem 3.4rem; */
	max-width: 49.2rem;
	position: relative;
	@media screen and (max-width:767px) {
		max-width: unset;
		font-size: 3rem;
		line-height: calc(40 / 30);
		justify-content: left;
    /* transform: translate(-25%) */
		top: 36%;
		left: 7%;
		width: calc(311 / 335 * 100%);
		
	}
}
 .fv__text h2 {
	font-size: 3rem;
	line-height: calc(50 / 30);
	color: #0D96A0;
	display: flex;
	justify-content: center;
	 margin-bottom: 0;
		@media screen and (max-width:767px) {
		font-size: 2.5rem;
			line-height: calc(35 / 25);

 }
}
 .fv-catch {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(33 / 18);
	text-align: center; /* 各行の中央をそろえる */
  margin: 0 auto;
	padding-top: 1.4rem;
	padding-bottom: 3.9rem;

}
.fv-catch {
		@media screen and (max-width:767px) {
		text-align: left;
		font-size: 1.6rem;
		line-height: calc(30 / 16);
		padding-top: 1.6rem;
 }
}
.fv-catch  p {
	margin: 0;
	margin-bottom: 0;
}
.icon-t {
	/* text-align: right;
	transform: translate(-7%,-63%); */
	position: absolute;
	right: 76.24px;
	bottom: 8px;
	@media screen and (max-width:767px) {
	/* transform: translate(0%,-95%);	 */
	right: 22px;
	bottom: 44px;
 }


}
.site-icon-thin {
	width: 8.375rem;
	height: 7.712rem;
}

/* ここから強み */
.strengths {
	background-color: rgba(13, 150, 160, 0.102);
		padding-top: 6.7rem;
    padding-bottom: 6.8rem;
		@media screen and (max-width:767px) {
			padding-top: 0.7rem;
    padding-bottom: 3.2rem;

		}
}
.title-wrap {
  display: flex;              
  align-items: center;        
  justify-content: center;   
  gap: 2rem;

	@media screen and (max-width:767px) {
   	padding-top: 5rem;
				}
}
.title {
  font-size: 2.4rem;
  /* font-weight: bold; */
			@media screen and (max-width:767px) { 
			}
}

.strengths-images {
	display: block;
	/* padding-top: 4.8rem; */


}

.strengths-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 4.6rem;
	max-width: 880px;
	margin: 0 auto;
	padding-top: 5.2rem;
		@media screen and (max-width:767px) { 
		flex-direction: column-reverse;
		max-width: 767px;
		width: 100%;
		/* padding: unset; */
		padding-top: 4.2rem;
		row-gap: 3rem;
		}
}
.strengths-item-re{
	flex-direction: row-reverse;
	padding-top: 5rem; 
	column-gap: 4.4rem;

		@media screen and (max-width:767px) { 
			max-width: 767px;
			flex-direction: column-reverse;
			padding-top: 4rem;
			width: 100%;

		}
	}
.strengths-item-re h3 {
		@media screen and (max-width:350px) { 
			white-space: unset;
			text-align: left;
			}

}	
.strengths-item-se {
	column-gap: 4.3rem;
		@media screen and (max-width:767px) { 
		padding-top: 3.7rem;
		}
}

.strengths-item-se h3 {
			@media screen and (max-width:350px) { 
			white-space: unset;
			}

}	


.strengths-text {
	flex: 46.5%;
	
	@media screen and (max-width:767px) {
		text-align: center; /* 各行の中央をそろえる */
  	margin: 0 auto;
		max-width: 767px;
		flex: unset;
		/* max-width: calc(335 /375 * 100%); */
		width: 100%;

	}
}
.str-text {
	flex: 44.8%;
	@media screen and (max-width:767px) {
		width: calc(310 / 335 * 100%);
		text-align: unset;
		margin-right: 2rem;
	}
}
h3 {
	font-size: 22px;
	/* font-weight: bold; */
	line-height: calc(33 / 22);
	white-space: nowrap;
	/* width: 39.5rem; */
	
		@media screen and (max-width:767px) {
			justify-content: center;
			font-size: 2rem;
			line-height: calc(30 / 20);
			white-space: nowrap;

		}

}

.strengths-text p {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(33 / 18);
  padding-top: 1.9rem;
	/* width: 39.5rem; */
	@media screen and (max-width:767px) {
		text-align: left;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: calc(30 / 16);
		padding-top: 0.8rem;

}

}
.strengths-image {
	flex: 50%;
	flex-shrink: 0; /* 画像が潰れないように */
  /* width: 50%;        必要に応じて 40〜50%   */
  display: flex;
  justify-content: center;
	@media screen and (max-width:767px) {
		width: 100%;
	}
}
.strengths-image img {
	width: 100%;           /* 枠いっぱいに画像を表示 */
  height: auto;
  display: block;
	object-fit: cover;
}

/* ここからサービス */
.service {
		padding-top: 6.3rem;
	padding-bottom: 5.9rem;
	@media screen and (max-width:767px) {
	padding-bottom: 3.9rem;
	padding-top: unset;
}
}
.service-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
	padding-top: 5.4rem;
	

		@media screen and (max-width:767px) {
	display: block;
	padding-top: unset;
	}
}
.service-item {
	@media screen and (max-width:767px) {
	padding-top: 5rem;	
		}
}
.service-item-hotel {
	@media screen and (max-width:767px) {
		padding-top: 4rem;
		}
	}
.service-item-trmim {
	@media screen and (max-width:767px) {
		padding-top: 4rem;
		}
}

.service-text {
	padding-top: 1.9rem;
	@media screen and (max-width:767px) {
		padding-top: 2.8rem;
		/* padding-bottom: 3.9rem; */
		}
}

.service-text h4 {
	font-size: 2rem;
	/* font-weight: bold; */
	line-height: calc(25 / 20);
	text-align: center;		
	@media screen and (max-width:767px) {

	line-height: calc(30 / 20);

	}	
}
.service-text p {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: calc(30 / 17);
	padding-top: 0.8rem;
		@media screen and (max-width:767px) {
			font-size: 1.6rem;
			line-height: calc(30 / 16);

		}
}

/* ここからお知らせ */
.news {
	padding-top: 6.7rem;
	padding-bottom: 6.8rem;
	background-color: rgba(13, 150, 160, 0.102);
		@media screen and (max-width:767px) {
			padding-top: unset;
			padding-bottom: 5rem;
		}	
}
.border-texts {
	padding-top: 4.7rem;
		@media screen and (max-width:767px) {
			padding-top: 4.5rem;
		}	

}

.news-items {
	/* list-style: none;     ・マークを消す 
  margin: 0;
  padding: 0; */
  width: 100%;            /* 任意の幅（例：80%） */
  margin: 0 auto;
	@media screen and (max-width:767px) {
		}
	}	
			.news-item {
			border-top: 1px solid #000; /* 上の線 */
			display: flex;
			align-items: center;
			padding-top: 16px;
			padding-bottom: 13.5px;
			padding-left: 11px;
			box-sizing: border-box;
			flex-wrap: wrap;
			@media screen and (max-width:767px) {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 2.8rem 0.6rem 2.8rem 1rem ;
			}
		}

		.news-item-anniv {
			@media screen and (max-width:767px) {
		padding: 2.8rem 0.3rem 2.8rem 1rem ;
		}
		}
.news-items li:last-child {
  border-bottom: 1px solid #000; /* 最後の線 */
}
.news-item a {
	transition: opacity 0.3s ease; 
  cursor: pointer; 
}

.news-item a:hover {
	opacity: 0.5;
}


.news-link {
	display: flex;
	gap: 25px;
	align-items: flex-start;
	@media screen and (max-width:767px) {
	display: block;
	}	
}

.news-date {
	font-size: 1.7rem;
	/* font-weight: bold; */
	line-height: calc(25 / 17);
	width: 9.2rem;
	/* flex-shrink: 0; */
	
}
.news-title {
	font-size: 2rem;
	/* font-weight: bold; */
	line-height: calc(25 / 20);
	color: #0D96A0;
	width: 16rem;
	/* flex-shrink: 0; */
	text-align: left;
		@media screen and (max-width:767px) {
			padding-top: 1.6px;
		}
}
.news-text {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: calc(30 / 17);
	flex: 1;
	padding-left: 24px;
	text-align: left;
	@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(24 / 16);
		padding-left: unset;
		padding-top: 5.7px;
	}
}

/* ここからアクセス */

.access {
	padding-top: 6.6rem;
	padding-bottom: 7rem;
	width: 100%;
@media screen and (max-width:767px) {
	padding-top: unset;
	padding-bottom: 5rem;
}
}

.contact-info {
	width: 100%;
	display: flex;
	column-gap: 4.6rem;
	padding-top: 5rem;
		@media screen and (max-width:767px) {
			display: block;
			row-gap: 3rem;

}
}

.location-map {
	width: 440px;
	aspect-ratio: 440/300;
	flex: 50%;
	@media screen and (max-width:767px) {
  width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 3rem;
		}
}

.location-map iframe {
	width: 100%;
	aspect-ratio: 440/300;
	height: auto;
	@media screen and (max-width:767px) {
	display: block;
	aspect-ratio: 335/222;
	width: 100%;
	height: auto;
}
}
.location-info {
	flex: 44.6%;
}
.access-item {
	border-bottom: 1px solid #707070;
	width: 100%;
	@media screen and (max-width:767px) {
		padding-top: 2.2rem;
	}
}
.name {
	font-size: 2.2rem;
	line-height: calc(33 / 22);
}
.address {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(27 / 18);
	padding-top: 1.5rem;
	@media screen and (max-width:767px) {
 	font-size: 1.6rem;
		line-height: calc(24 / 16);
		padding-top: 1.2rem;

	}
}

.tel-link{
 display: flex;
	align-items: baseline; 
}
.tel {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(27 / 18);
	@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(27 / 16);
		}
}
.tel-number {
  font-size: 2.5rem;
	line-height: calc(40 / 25);
	color: #0D96A0;
	padding-top:  1.4rem;
	@media screen and (max-width:767px) {
	padding-top: 0.5rem;
	}
}
.e-mail {
		font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(27 / 18);
	padding-top: 0.8rem;
	padding-bottom: 2.5rem;
		@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(24 / 16);
		padding-bottom: 1.5rem;
		}
}
.access-info {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(40 / 18);
	padding-top: 1.5rem;
	padding-bottom: 1.3rem;
	border-bottom: 1px solid #707070;
	padding-left: 0.5rem;
	@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(30 / 16);
		padding-left: unset;
		padding-top: 1.3rem;
		padding-bottom: 1rem;
		}
}

/* ここからお問い合わせ */

.contact {
	background-color: rgba(13, 150, 160, 0.102);
	padding-bottom: 8rem;
	padding-top: 6.6rem;
	@media screen and (max-width:767px) {
 		padding-top: unset;
 		padding-bottom: 5rem;
	} 
}

.contact-text {
	text-align: center; /* 各行の中央をそろえる */
  margin: 0 auto;
}
.contact-text p {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: calc(30 / 17);
	padding-top: 3.1rem;
  margin: 0;
	@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(30 / 16);
		text-align: left;
		padding-top: 4.3rem;
	}


}
.form {
	max-width: 880px;
	margin-inline: auto;
	/* margin-top: 3.6rem; */
	@media screen and (max-width:767px) {
	padding-top: 2.9rem;
		}
}
.form__item {
	display: flex;
	column-gap: 3rem;

	@media screen and (max-width:767px) {
		display: block;
	}
}

.form__item:not(:first-of-type) {
	margin-top: 3rem;

	@media screen and (max-width:767px) {
		margin-top: 1rem;	
	}
}

.form__label {
	font-size: 2rem;
	display: flex;
	align-items: center;
	/* font-weight: bold; */
	line-height: calc(33 / 20);
	width: 14rem;
	padding-top: 0.7rem;

	@media screen and (max-width:767px) {
		width: 100%;
		font-size: 1.8rem;
		line-height: calc(33 / 18);
	}
}
.form__la {
	align-items: unset;
	padding-top: 0.5rem;

}


.form__input {
	padding-top: 1px;
	flex: 1;
}

.form__textarea {
	flex: 1;
	line-height: 0;
}

input[type="text"],
input[type="email"] {
	/* border: 1px solid #707070; */
	height: 4rem;
	width: 100%;
	padding-inline: 15px;
	font-size: 16px;
	background-color: #fff;

	@media screen and (max-width:767px) {
		height: 50px;
	}
}

textarea {
	/* border: 1px solid #707070; */
	height: 300px;
	width: 100%;
	resize: none;
	padding: 15px;
	font-size: 16px;
	line-height: 1.6;
	background-color: #fff;
}

.contact__button {
	margin-top: 5rem;
	margin-inline: auto;
	width: 200px;
	@media screen and (max-width:767px) {
  /* width: calc(335 /375 *100%); */
	width: 100%;
	margin-top: 5.5rem;
		}
}

input[type="submit"] {
	width: 100%;
	height: 50px;
	background-color: #0D96A0;
	color: #fff;
	border-radius: 8px;
	font-size: 2.5rem;
	cursor: pointer;
	transition: .4s;
	padding-top: 1px;
	text-align: center;     /* 横方向の中央揃え */
	line-height: calc(33 / 25);

	@media screen and (max-width:767px) {
	font-size: 2rem;
	line-height: calc(26 / 20);
	height: 41px;

}
}
input[type="submit"]:hover {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;

}

/* ここからフッター */
.footer {
	width: 100%;
	height: 28rem;
	background-color: #505050;
	padding-top: 6.6rem;
	padding-bottom: 7.3rem;
@media screen and (max-width:767px) {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

}
.footer-box {
	/* padding-top: 6.6rem 17.1rem 7.3rem 17.2rem; */
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;



}
.footer__nav {
	/* padding-bottom: 160px; */
	color: #fff;
	font-size: 2rem;
	line-height: calc(33 / 20);
	border-bottom: 1px solid #fff;
	padding-bottom: 2.11rem;
	max-width: 737px;
	width: 100%;
	margin: 0 auto;
	display: block;
@media screen and (max-width:767px) {
		font-size: 1.8rem;
	}
}

.footer__nav ul {
	display: flex;
	width: 100%;
	column-gap: 1.4rem;
	/* padding-left: 23.8rem;
	padding-bottom: 2.1rem; */
	justify-content: center;
	padding: 0;
	margin: 0;
	@media screen and (max-width:767px) {
		flex-wrap: wrap;
		column-gap: 2rem; 
	}
.footer__nav li {
		@media screen and (max-width:767px) {

	white-space: nowrap; /* 単語内での改行を防ぐ */
}
}

}
.footer-copyright {
	/* padding-top: 14.7rem; */
	display: block;

}

.copyright {
	display: flex;
	font-size: 2rem;
	line-height: calc(33 / 20);
	color: #fff;
	padding-top: 2.6rem;
	column-gap: 2rem;
	justify-content: center;
		@media screen and (max-width:767px) {
font-size: 1.6rem;
	line-height: calc(33 / 16);
	padding-top: 1.5rem;
		@media screen and (max-width:350px) {
			font-size: 1.4rem;
}
}
}
.sns {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;
	margin-top: 0.9rem;

	@media screen and (max-width:767px) {
		justify-content: center;
		margin-top: 3rem;
	}
}

.sns__list {
	list-style: none;
	line-height: 0;
}

.sns__link {
	width: 22px;
	transition: transform 0.3s ease, opacity 0.3s ease; 
}
.sns__link:hover {
	transform: scale(1.2); /* ホバー時に1.2倍に拡大 */
  opacity: 0.8; /* ちょっと薄くして動きを強調（任意） */

}

