@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

html {
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	word-break: break-all;
	font-size: 10px;
}
body {
	font-family: "Noto Sans JP", "sans-serif", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
		"Yu Gothic", "Meiryo", "sans-serif";
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	color: #505050;
	line-height: calc(30 / 17);
}
.pc {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.pc-p {
	@media screen and (min-width: 862px) {
		display: none;
	}
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.sp-p {
	@media screen and (min-width: 356px) {
		display: none;
	}
}

.sp {
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.sp-s {
	@media screen and (min-width: 351px) {
		display: none;
	}
}

img {
	width: 100%;
	height: auto;
	display: block;
}
.inner {
	width: 100%;
	max-width: 940px;
	padding-inline: 3rem;
	margin-inline: auto;
	@media screen and (max-width: 767px) {
		max-width: 767px;
		padding-inline: 2rem !important;
		margin-inline: auto;
		margin: 0 auto;
	}
}
a:hover {
	opacity: 0.8;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	background-color: #fff;
	z-index: 1000;
}
.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1080px;
	padding-inline-start: calc(90px / 1080px * 100vw);
	padding-inline-end: calc(60px / 1080px * 100vw);
	margin: 0 auto;

	@media screen and (max-width: 767px) {
		padding-inline-start: unset;
		padding-left: 1rem;
	}
}
.header .site-title {
	display: flex;
	align-items: center;
	transition-duration: 0.4s;
	height: 100%;
}
.site-icon {
	width: 2.549rem;
	@media screen and (max-width: 767px) {
		padding-left: 5px;
	}
}
.site-title h1 a {
	height: 5rem;
	font-size: 1.8rem;
	line-height: calc(33 / 18);
	padding-left: 10px;
	padding-right: 10px;

	display: flex;
	align-items: center;
	transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
	cursor: pointer; /* マウスオーバーで手の形に */
	column-gap: 0.9rem;
	@media screen and (max-width: 767px) {
		font-size: 2rem;
		line-height: calc(33 / 20);
	}
}
.header__nav {
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.header__nav ul {
	display: flex;
	column-gap: 0.2rem;
	align-items: center;
}
.header__nav ul li a {
	height: 5rem;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	padding-left: 4px;
	padding-right: 4px;
}
.header__nav a {
	transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
	cursor: pointer; /* マウスオーバーで手の形に */
}

/* ここからmain */
.fv-Content {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 5rem;
	@media screen and (max-width: 767px) {
		padding-bottom: unset;
	}
}

.fv-wrap {
	width: 100%;
	position: relative;
	overflow: hidden;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	@media screen and (max-width: 767px) {
		max-width: 767px;
	}
}
.fv__image img {
	object-fit: cover;
}
.fv__contents {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: calc(152 / 1080 * 100vw);
	@media screen and (max-width: 767px) {
		display: flex;
		align-items: flex-end;
	}
}

.fv-catch {
	width: calc(492 / 1080 * 100vw);
	height: calc(210 / 1080 * 100vw);
	background-color: rgba(255, 255, 255, 0.72);
	padding-left: calc(99 / 1080 * 100vw);
	align-items: center;
	@media screen and (max-width: 767px) {
		width: calc(311 / 375 * 100vw);
		height: calc(148 / 375 * 100vw);
		padding-left: calc(20 / 375 * 100vw);
		padding-top: calc(10 / 375 * 100vw);
	}
}

.fv-catch p {
	font-size: calc(25 / 1080 * 100vw);
	line-height: calc(36.2 / 25);
	padding-top: calc(23 / 1080 * 100vw);
	white-space: nowrap;
	color: #505050;

	@media screen and (max-width: 767px) {
		font-size: calc(20 / 375 * 100vw);
		line-height: calc(29 / 20);
		white-space: nowrap;
		color: #505050;
	}
}

.fv-catch-text {
	padding-top: 10px;
}

.fv-catch-text span {
	font-size: calc(40 / 1080 * 100vw);
	color: #0d96a0;
	line-height: calc(60 / 40);

	@media screen and (max-width: 767px) {
		font-size: calc(30 / 375 * 100vw);
		line-height: calc(40 / 30);
	}
}

/* ここからご挨拶 */
#greeting {
	margin-top: -5rem;
	padding-top: 11rem;
	@media screen and (max-width: 767px) {
		padding-top: 10rem;
	}
}
.greeting {
	padding-bottom: 2.3rem;
	@media screen and (max-width: 767px) {
		padding-bottom: unset;
	}
}
.gr__text {
	position: relative;
}

.gr__text h2 {
	font-size: 3rem;
	line-height: calc(50 / 30);
	color: #0d96a0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	@media screen and (max-width: 767px) {
		font-size: 2.5rem;
		line-height: calc(35 / 25);
		text-align: center;
	}
}
.gr-catch {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(33 / 18);
	text-align: center; /* 各行の中央をそろえる */
	margin: 0 auto;
	padding-top: 1.4rem;
	padding-bottom: 3.9rem;
}
.gr-catch {
	@media screen and (max-width: 885px) {
		font-size: 1.5rem;
	}
	@media screen and (max-width: 727px) {
		text-align: left;
		font-size: 1.6rem;
		line-height: calc(30 / 16);
		padding-top: 1.6rem;
	}
}
.gr-catch p {
	margin: 0;
	margin-bottom: 0;
	@media screen and (max-width: 885px) {
	}
}
.icon-t {
	position: absolute;
	right: -25px;
	bottom: 9px;
	@media screen and (max-width: 767px) {
		right: 2%;
		bottom: 10%;
	}
}
.site-icon-thin {
	width: 8.375rem;
	height: 7.712rem;
}

/* ここから強み */
#strengths {
	margin-top: -5rem;
	padding-top: 5rem;
}
.strengths {
	background-color: rgba(13, 150, 160, 0.102);
	padding-top: 6rem;
	padding-bottom: 6.8rem;
	@media screen and (max-width: 767px) {
		padding-top: 5.1rem;
		padding-bottom: 3.2rem;
	}
}
.title-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	@media screen and (max-width: 767px) {
		padding-top: unset;
	}
}
.title {
	font-size: 2.4rem;
	@media screen and (max-width: 767px) {
	}
}

.strengths-images {
	display: block;
}
.strengths-items {
	margin-top: 4.5rem;
	@media screen and (max-width: 767px) {
		margin-top: unset;
	}
}

.strengths-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 880px;
	margin: 0 auto;
	@media screen and (max-width: 767px) {
		flex-direction: column-reverse;
		max-width: 767px;
		width: 100%;
		row-gap: 3rem;
	}
}
h3 {
	font-size: 22px;
	line-height: calc(33 / 22);
	@media screen and (max-width: 840px) {
		white-space: unset;
	}

	@media screen and (max-width: 767px) {
		justify-content: center;
		font-size: 2rem;
		line-height: calc(30 / 20);
		white-space: nowrap;
		text-align: center;
	}
}
.strengths-text p {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(33 / 18);
	margin-top: 1.9rem;
	@media screen and (max-width: 767px) {
		text-align: left;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: calc(30 / 16);
		margin-top: 0.8rem;
	}
}
.strengths-item-fir {
	column-gap: 4.5rem;
	@media screen and (max-width: 767px) {
		margin-top: 3.5rem;
		row-gap: 3rem;
		column-gap: unset;
	}
}
.strengths-item-fir h3 p {
	padding-top: 5px;
}

.strengths-item-re {
	flex-direction: row-reverse;
	margin-top: 5rem;
	column-gap: 4.4rem;

	@media screen and (max-width: 767px) {
		max-width: 767px;
		flex-direction: column-reverse;
		margin-top: 4rem;
		width: 100%;
	}
}
.strengths-item-re h3 {
	@media screen and (max-width: 350px) {
		white-space: unset;
	}
}
.strengths-item-se {
	column-gap: 4.3rem;
	margin-top: 5rem;
	@media screen and (max-width: 767px) {
		margin-top: 3.7rem;
	}
}

.strengths-item-se h3 {
	@media screen and (max-width: 350px) {
		white-space: unset;
	}
}
.strengths-text {
	width: 46.5%;

	@media screen and (max-width: 767px) {
		text-align: center; /* 各行の中央をそろえる */
		margin: 0 auto;
		max-width: 767px;
		flex: unset;
		width: 100%;
	}
}
.str-text {
	width: 44.98%;
	@media screen and (max-width: 767px) {
		text-align: center; /* 各行の中央をそろえる */
		margin: 0 auto;
		max-width: 767px;
		flex: unset;
		width: 100%;
	}
}

.strengths-image {
	flex-shrink: 0; /* 画像が潰れないように */
	width: 50%;
	display: flex;
	justify-content: center;
	@media screen and (max-width: 767px) {
		width: 100%;
		display: block;
	}
}
.strengths-image img {
	width: 100%; /* 枠いっぱいに画像を表示 */
	height: auto;
	display: block;
	object-fit: cover;
}

/* ここからサービス */
#service {
	margin-top: -5rem;
	padding-top: 5rem;
}
.service {
	padding-top: 6rem;
	padding-bottom: 5.9rem;
	@media screen and (max-width: 767px) {
		padding-bottom: 3.5rem;
		padding-top: 4.1rem;
	}
}
.grid {
	display: grid;
	gap: 5rem;
	margin-top: 4.5rem;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	align-items: stretch;

	@media screen and (max-width: 767px) {
		display: block;
		margin-top: 4rem;
	}
}

.service-item {
	flex: 1;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 767px) {
		margin-top: 4rem;
	}
}

.service-text {
	margin-top: 1.9rem;
	flex-grow: 1;
	@media screen and (max-width: 767px) {
		margin-top: 3rem;
	}
}
.service-text h3 {
	font-size: 2rem;
	line-height: calc(25 / 20);
	text-align: center;
	@media screen and (max-width: 767px) {
		line-height: calc(30 / 20);
	}
}
.service-text p {
	font-size: 1.7rem;
	font-weight: 500;
	margin-top: 0.8rem;
	text-align: left;
	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
		line-height: calc(30 / 16);
	}
}

/* ここからお知らせ */
#news {
	margin-top: -5rem;
	padding-top: 5rem;
}
.news {
	padding-top: 6rem;
	padding-bottom: 7rem;
	background-color: rgba(13, 150, 160, 0.102);
	@media screen and (max-width: 767px) {
		padding-top: 3.9rem;
		padding-bottom: 5rem;
	}
}
.border-texts {
	margin-top: 4rem;
	@media screen and (max-width: 767px) {
	}
}

.news-items {
	width: 100%; /* 任意の幅（例：80%） */
	margin: 0 auto;
}
.news-item {
	border-top: 1px solid #000; /* 上の線 */
	display: flex;
	align-items: center;
	height: 6rem;
	box-sizing: border-box;
	flex-wrap: wrap;
	@media screen and (max-width: 767px) {
		flex-direction: column;
		line-height: unset;
		height: auto;
	}
}

.news-item-anniv a .news-text {
	@media screen and (min-width: 365px) {
		white-space: nowrap;
	}
}
.news-items li:last-child {
	border-bottom: 1px solid #000; /* 最後の線 */
}
.news-item a:hover {
	opacity: 0.5;
}

.news-link {
	display: flex;
	gap: 25px;
	/* align-items: flex-start; */
	width: 100%;
	transition: opacity 0.3s ease;
	cursor: pointer;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding-inline-start: 2rem;
	height: 100%;
	@media screen and (max-width: 767px) {
		padding-block-start: 2.8rem;
		padding-inline-end: 1rem;
		padding-block-end: 2.8rem;
		padding-inline-start: 1rem;
		display: block;
		text-align: unset;
	}
}

.news-date {
	/* height: 3rem; */
	align-self: center;
	font-size: 1.7rem;
	line-height: calc(25 / 17);
	width: 9.2rem;
	padding-top: 0.2rem;

}
.news-title {
	font-size: 2rem;
	line-height: calc(25 / 20);
	color: #0d96a0;
	width: 16rem;
	text-align: left;
}
.news-text {
	font-size: 1.7rem;
	font-weight: 500;
	flex: 1;
	column-gap: 24px;
	text-align: left;
	margin-left: 25px;
	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
		line-height: calc(24 / 16);
		padding-left: unset;
		padding-top: 7px;
		margin-left: unset;
	}
}
/* ここからアクセス */
#access {
	margin-top: -5rem;
	padding-top: 5rem;
}
.access {
	padding-top: 6rem;
	padding-bottom: 7rem;
	width: 100%;
	@media screen and (max-width: 767px) {
		padding-top: 4.1rem;
		padding-bottom: 5rem;
	}
}
.contact-info {
	display: flex;
	align-items: stretch; /* 高さを揃える！ */
	column-gap: 4.6rem;
	margin-top: 4.4rem;
	@media screen and (max-width: 767px) {
		display: block;
		row-gap: 3rem;
	}
}

.location-map {
	width: 50%;
	flex-shrink: 0;
	@media screen and (max-width: 767px) {
		width: 100%;
		flex-direction: column;
		align-items: center;
		row-gap: 3rem;
	}
}

.location-map iframe {
	width: 100%;
	height: 100%; /* ここがポイント：高さを親に合わせる */
	@media screen and (max-width: 767px) {
		height: auto;
		aspect-ratio: 335 / 222;
	}
}

.location-info {
	flex: 1;
	@media screen and (max-width: 767px) {
		width: 100%;
	}
}
.access-item {
	border-bottom: 1px solid #707070;
	width: 100%;
	@media screen and (max-width: 767px) {
		margin-top: 3rem;
		padding-bottom: 0rem;
	}
}
.name {
	font-size: 2.2rem;
	line-height: calc(33 / 22);
}
.address {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(27 / 18);
	margin-top: 1.5rem;
	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
		line-height: calc(24 / 16);
		margin-top: 1.2rem;
	}
}

.tel-link {
	display: flex;
	align-items: flex-start;
}
.tel {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(27 / 18);
	margin-top: 2rem;
	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
		line-height: calc(27 / 16);
		margin-top: 1.5rem;
	}
}

.contact-link-tel {
	font-size: 2.5rem;
	line-height: calc(40 / 25);
	color: #0d96a0;
	margin-top: 1.4rem;
	@media screen and (min-width: 768px) {
		pointer-events: none;
		cursor: pointer;
	}
	@media screen and (max-width: 767px) {
		margin-top: 3px;
	}
}

.mail {
	display: block;
	margin-top: 0.8rem;
	margin-bottom: 2.5rem;
}
.contact-link-mail {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(27 / 18);
	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
		line-height: calc(24 / 16);
	}
}
.contact-link-mail a:hover {
	opacity: 0.8;
}

.access-info {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(40 / 18);
	padding-top: 1.4rem;
	padding-bottom: 1.3rem;
	border-bottom: 1px solid #707070;
	padding-left: 0.5rem;
	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
		line-height: calc(30 / 16);
		padding-left: unset;
		padding-top: 1.3rem;
		padding-bottom: 1rem;
	}
}

/* ここからお問い合わせ */
#contact {
	margin-top: -5rem;
	padding-top: 5rem;
}

.contact {
	background-color: rgba(13, 150, 160, 0.102);
	padding-bottom: 8rem;
	padding-top: 6rem;
	@media screen and (max-width: 767px) {
		padding-top: 4.1rem;
		padding-bottom: 5rem;
	}
}

.contact-text {
	text-align: center; /* 各行の中央をそろえる */
	margin: 0 auto;
	margin-bottom: 3.9rem;
	@media screen and (max-width: 767px) {
		margin-bottom: 3rem;
	}
}
.contact-text p {
	font-size: 1.7rem;
	font-weight: 500;
	padding-top: 2rem;
	margin: 0;
	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
		line-height: calc(30 / 16);
		text-align: left;
		padding-top: 4rem;
	}
}
.form {
	max-width: 880px;
	margin-inline: auto;
	@media screen and (max-width: 767px) {
	}
}
.form__item {
	display: flex;
	column-gap: 3rem;

	@media screen and (max-width: 767px) {
		display: block;
	}
}

.form__item:not(:first-of-type) {
	margin-top: 3rem;

	@media screen and (max-width: 767px) {
		margin-top: 1.5rem;
	}
}

.form__label {
	font-size: 2rem;
	display: flex;
	align-items: center;
	line-height: calc(33 / 20);
	width: 14rem;
	padding-top: 0.5rem;

	@media screen and (max-width: 767px) {
		width: 100%;
		font-size: 1.8rem;
		line-height: calc(33 / 18);
		padding-top: 0.4rem;
	}
}
.form__la {
	align-items: unset;
	padding-top: 0.5rem;
}
.form__input {
	flex: 1;
	font-weight: normal;
}

.form__textarea {
	flex: 1;
	line-height: 0;
	font-weight: normal;
	padding-top: 3px;
}

input[type="text"],
input[type="email"] {
	height: 4rem;
	width: 100%;
	padding-inline: 15px;
	font-size: 16px;
	background-color: #fff;

	@media screen and (max-width: 767px) {
		height: 50px;
	}
}

textarea {
	height: 300px;
	width: 100%;
	resize: none;
	padding: 15px;
	font-size: 16px;
	line-height: 1.6;
	background-color: #fff;
}

.contact__button {
	margin-top: 4.8rem;
	margin-inline: auto;
	width: 200px;
	@media screen and (max-width: 767px) {
		width: 33.5rem;
		margin-top: 4.7rem;
	}
	@media screen and (max-width: 370px) {
		width: 100%;
	}
}
input[type="submit"] {
	width: 100%;
	height: 50px;
	background-color: #0d96a0;
	color: #fff;
	border-radius: 10px;
	font-size: 2.5rem;
	cursor: pointer;
	transition: 0.4s;
	padding-top: 1px;
	text-align: center; /* 横方向の中央揃え */
	line-height: calc(33 / 25);
	border: 1px solid transparent;

	@media screen and (max-width: 767px) {
		font-size: 2rem;
		line-height: calc(26 / 20);
		height: 41px;
	}
}
input[type="submit"]:hover {
	color: #0d96a0;
	background-color: #fff;
	border: 1px solid #0d96a0;
}

/* ここからフッター */
.footer {
	width: 100%;
	height: 28rem;
	background-color: #505050;
}
.footer .inner {
	padding-block-start: 6.5rem;
	@media screen and (max-width: 767px) {
		padding-block-start: 4.5rem;
	}
}

.footer-box {
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.footer__nav {
	color: #fff;
	font-size: 2rem;
	line-height: calc(33 / 20);
	border-bottom: 1px solid #fff;
	padding-bottom: 2rem;
	max-width: 737px;
	width: 100%;
	margin: 0 auto;
	display: block;
	@media screen and (max-width: 767px) {
		font-size: 1.8rem;
		padding-bottom: 2.5rem;
	}
}

.footer__nav ul {
	display: flex;
	width: 100%;
	column-gap: 0.4rem;
	justify-content: center;
	padding: 0;
	margin: 0;
	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		column-gap: 1rem;
	}
}
.footer__nav li {
	@media screen and (max-width: 767px) {
		white-space: nowrap; /* 単語内での改行を防ぐ */
	}
}
.footer__nav li a {
	padding: 0.2rem 0.5rem;
}
/* .footer__nav li a:hover {
	opacity: 0.8;
}
 */
.footer-copyright {
	display: block;
}

.copyright {
	display: flex;
	font-size: 2rem;
	line-height: calc(33 / 20);
	color: #fff;
	padding-top: 2.6rem;
	column-gap: 2rem;
	justify-content: center;
	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
		line-height: calc(33 / 16);
		padding-top: 1.5rem;
		column-gap: 1.8rem;
		@media screen and (max-width: 350px) {
			font-size: 1.4rem;
		}
	}
}
.sns {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;
	margin-top: 0.9rem;

	@media screen and (max-width: 767px) {
		justify-content: center;
		margin-top: 2.8rem;
	}
}

.sns__list {
	list-style: none;
	line-height: 0;
}

.sns__link {
	width: 22px;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.sns__link:hover {
	transform: scale(1.2); /* ホバー時に1.2倍に拡大 */
	opacity: 0.8; /* ちょっと薄くして動きを強調（任意） */
}
