@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	word-break: break-all;
	font-size: 10px;
	/* scroll-padding-top: 50px; */
}
body {
	font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.pc {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.sp {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

img {
	width: 100%;
	height: auto;
}
.inner {
  width: 100%;
  max-width: 880px;
  padding-inline: 30px;
	margin-inline: auto;
  	@media screen and (max-width: 767px) {
      padding-inline: 20px;
    }
}
.header {
	width: 100%;
	background-color: aquamarine;
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 1000; 
}
.header .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .site-title {
		display: flex;
		column-gap: 0.951rem;
		align-items: center;
		scroll-padding-top: 50px;
	  transition-duration: 0.4s;
	  height: 100%;

}
.site-title img  {
	width: 2.549rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
}
.site-title h1 a {
	height: 5rem;
	font-size: 1.8rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.site-title h1 a:hover {
		opacity: 0.5;
}
.header__nav ul {
	display: flex;
	column-gap: 1rem;
	align-items: center;

}
.header__nav ul li a {
	height: 5rem;
	font-size: 1.4rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.header__nav a {
		transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
  cursor: pointer; /* マウスオーバーで手の形に */

}

.header__nav a:hover {
	opacity: 0.5;
}
  /* ここからmain */
.main {
	width: 100%;
	padding-top: 50px;
}

.fv {
	width: 100vw;
	/* padding-block-start: 50px; */
	position: relative;
  left: 50%;          /* 親(inner)の中央基準に */
  right: 50%;
  margin-left: -50vw; /* 画面全体分マイナスにして幅を広げる */
  margin-right: -50vw;
  overflow: hidden; 
}

picture {
	width: 100%;
	height: auto;
	display: block;
}
.fv__contents {
position: absolute;
top: calc(152 / 1080 * 100%);
/* top: 152px; */
background-color: rgba(255, 255, 255, 0.72);
width: calc(493 / 1080 * 100%);
/* width: 493px; */
height:  calc(210 / 500 * 100%);
/* height: 210px; */
}
.catch-name {
	font-size: 25px;
	font-weight: bold;
	/* left: 99px;
	top: 23px; */
	translate: 99px 23px;
	/* text-align: center; */
	/* top: 175px; */
	white-space: nowrap;
	/* max-width: 492px; */
	color: #505050;
}
.catch-text {
	font-size: 40px;
	color: #0D96A0;
	line-height: calc(60 / 40);
	font-weight: bold;
	text-indent: 0;
	translate: 99px 34px;
	/* translate: 99px 34px; */
	/* text-align: center; */
	max-width: 492px;
}
/* .overlay {
  background-color: rgba(255, 255, 255, 0.7); 白＋70%の不透明度
} */
 .fv__text h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: calc(50 / 30);
	color: #0D96A0;
	display: flex;
	justify-content: center;
	padding-top: 60px;
 }
 .fv-chtch {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(33 / 18);
	display: flex;
	justify-content: center;


 }
.fv-chtch .a {
	display: flex;
	justify-content: center;

}
.icon-t {
	text-align: right;
}
.site-icon-thin {
	width: 83.75px;
	height: 77.12px;
}


 