@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	word-break: break-all;
	font-size: 10px;
	/* scroll-padding-top: 50px; */
}
body {
	font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
	color: #505050;
}
.pc {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.sp {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

img {
	width: 100%;
	height: auto;
}
.inner {
  width: 100%;
  max-width: 940px;
  padding-inline: 3rem;
	margin-inline: auto;
  	@media screen and (max-width: 767px) {
      max-width: 767px;
			padding-inline: 2rem;

    }
}
.header {
	width: 100%;
	background-color: aquamarine;
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 1000; 
}
.header .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .site-title {
		display: flex;
		column-gap: 0.951rem;
		align-items: center;
		scroll-padding-top: 5rem;
	  transition-duration: 0.4s;
	  height: 100%;

}
.site-icon  {
	width: 2.549rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
}
.site-title h1 a {
	height: 5rem;
	font-size: 1.8rem;
	line-height: calc(33 / 18);

	display: flex;
	align-items: center;
	transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
  cursor: pointer; /* マウスオーバーで手の形に */
	@media screen and (max-width:767px) {
		font-size: 2rem;
		line-height: calc(33 / 20);

	}
}

.site-title h1 a:hover {
		opacity: 0.5;
}

.header__nav {
	@media screen and (max-width:767px) {

	display: none;
}
}

.header__nav ul {
	display: flex;
	column-gap: 1rem;
	align-items: center;

}
.header__nav ul li a {
	height: 5rem;
	font-size: 1.4rem;
	/* font-weight: bold; */
	display: flex;
	align-items: center;
}
.header__nav a {
	transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
  cursor: pointer; /* マウスオーバーで手の形に */

}

.header__nav a:hover {
	opacity: 0.5;
}
  /* ここからmain */
.fv {
	width: 100%;
	height: 83.4rem;
	padding-top: 5rem;
}

.fv-wrap {
	width: 100vw;
	/* padding-block-start: 50px; */
	position: relative;
  left: 50%;          /* 親(inner)の中央基準に */
  right: 50%;
  margin-left: -50vw; /* 画面全体分マイナスにして幅を広げる */
  margin-right: -50vw;
}

picture {
	width: 100%;
	height: auto;
	display: block;
}
.fv__contents {
position: absolute;
left: 0;
top: 50%;
transform: translateY(-115%);
background-color: rgba(255, 255, 255, 0.72);
width: 492px;
height: 21rem;
flex-direction: column;

@media screen and (max-width:767px) {
	top: 402px;
	width: 311px;
	height: 148px;
	top: 53.6%;
}
}
.fv__text {
	width: 100%;
	padding-top: 6rem;
	@media screen and (max-width:767px) {
  padding-top: 4.9rem;
	text-align: center; /* 各行の中央をそろえる */
  margin: 0 auto;
	padding-inline: 3rem;
	margin-inline: auto;
}
}
.catch-name {
	font-size: 2.5rem;
	translate: 9.9rem 2.3rem;
	white-space: nowrap;
	color: #505050;
	@media screen and (max-width:767px) {
		font-size: 2rem;
		justify-content: left;
		translate: 1.8rem 2rem;
	}
}
.catch-text {
	font-size: 4rem;
	color: #0D96A0;
	line-height: calc(60 / 40);
	text-indent: 0;
	translate: 9.9rem 3.4rem;
	max-width: 49.2rem;
	@media screen and (max-width:767px) {
		font-size: 3rem;
		line-height: calc(40 / 30);
		justify-content: left;
    transform: translate(-25%)
	}
}
 .fv__text h2 {
	font-size: 3rem;
	line-height: calc(50 / 30);
	color: #0D96A0;
	display: flex;
	justify-content: center;
		@media screen and (max-width:767px) {
		font-size: 2.5rem;
 }
}
 .fv-catch {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(33 / 18);
	text-align: center; /* 各行の中央をそろえる */
  margin: 0 auto;
	padding-top: 1.4rem
}
.fv-catch {
		@media screen and (max-width:767px) {
		text-align: left;
		font-size: 1.6rem;
		line-height: calc(30 / 16);
 }
}
.fv-catch  p {
	margin: 0;
}
.icon-t {
	text-align: right;
	transform: translate(-7%,-63%);
	@media screen and (max-width:767px) {
	transform: translate(-9%,-70%);	
 }


}
.site-icon-thin {
	width: 8.375rem;
	height: 7.712rem;
}

/* ここから強み */
.strengths {
	background-color: rgba(13, 150, 160, 0.102);
		@media screen and (max-width:767px) {
		padding-bottom: 3.5rem;
		}
}
.title-wrap {
  display: flex;              
  align-items: center;        
  justify-content: center;   
  gap: 2rem;
	padding-top: 6.7rem;

	@media screen and (max-width:767px) {
   	padding-top: 5.1rem;
				}
}
.title {
  font-size: 2.4rem;
  /* font-weight: bold; */
			@media screen and (max-width:767px) { 
			}
}

.strengths-images {
	display: block;
	/* padding-top: 4.8rem; */


}

.strengths-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.2rem;
	max-width: 880px;
	margin: 0 auto;
	padding-top: 5.2rem;
	/* padding: 3rem; */
		@media screen and (max-width:767px) { 
		flex-direction: column-reverse;
		max-width: 767px;
		width: 100%;
		padding: unset;
		padding-top: 4.2rem;
		}
}
.strengths-item-re{
	flex-direction: row-reverse;
	column-gap: 4.5rem;
		@media screen and (max-width:767px) { 
		flex-direction: column-reverse;
		}


}
.strengths-text {
	flex: 1;
	@media screen and (max-width:767px) {
		text-align: center; /* 各行の中央をそろえる */
  	margin: 0 auto;
	

	}
}
h3 {
	font-size: 22px;
	/* font-weight: bold; */
	line-height: calc(33 / 22);
	white-space: nowrap;
	width: 39.5rem;
	
		@media screen and (max-width:767px) {
			justify-content: center;
			font-size: 2rem;
			line-height: calc(30 / 20);

		}

}

.strengths-text p {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(33 / 18);
  padding-top: 1.9rem;
	width: 39.5rem;
	@media screen and (max-width:767px) {
		text-align: left;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: calc(30 / 16);

}

}
.strengths-image {
	flex: 1;
	/* width: calc(440 / 880 *100%); */
	width: 44rem;
	width: 100%;
}
.strngths-image img {
	width: 100%;           /* 枠いっぱいに画像を表示 */
  height: auto;
  display: block;
}

/* ここからサービス */

.service-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
	padding-top: 5.4rem;

		@media screen and (max-width:767px) {
	display: block;
	}

}



.service-text {
	padding-top: 1.9rem;
	padding-bottom: 5.9rem;
}


.service-text h4 {
	font-size: 2rem;
	/* font-weight: bold; */
	line-height: calc(25 / 20);
	text-align: center;		
	@media screen and (max-width:767px) {

	line-height: calc(30 / 20);

	}	
}
.service-text p {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: calc(30 / 17);
	padding-top: 0.8rem;
		@media screen and (max-width:767px) {
			font-size: 1.6rem;
			line-height: calc(30 / 16);

		}
}

/* ここからお知らせ */
.news {
	padding-bottom: 6.8rem;
	background-color: rgba(13, 150, 160, 0.102);

	
}
.border-texts {
	padding-top: 5.2rem;
}

.news-items {
	/* list-style: none;     ・マークを消す 
  margin: 0;
  padding: 0; */
  width: 95%;            /* 任意の幅（例：80%） */
  margin: 0 auto;
	
}	       
.news-items li {
  border-top: 1px solid #000; /* 上の線 */
  padding: 17px 0;           
}

.news-items li:last-child {
  border-bottom: 1px solid #000; /* 最後の線 */
}
/* .news-item {
	@media screen and (max-width:767px) {
	display: block;
	}	
} */




.news-item a {
	transition: opacity 0.3s ease; 
  cursor: pointer; 
}

.news-item a:hover {
	opacity: 0.5;
}


.news-link {
	display: flex;
	/* align-items: center; */
	gap: 25px;
	padding-left: 1.9rem;
	align-items: flex-start;
		@media screen and (max-width:767px) {
	display: block;
	}	

	
}
.news-date {
	font-size: 1.7rem;
	/* font-weight: bold; */
	line-height: calc(25 / 17);
	width: 9.2rem;
	/* flex-shrink: 0; */
}
.news-title {
	font-size: 2rem;
	/* font-weight: bold; */
	line-height: calc(25 / 20);
	color: #0D96A0;
	width: 16rem;
	/* flex-shrink: 0; */
	text-align: left;
}
.news-text {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: calc(30 / 17);
	flex: 1;
	text-align: left;
	@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(24 / 16);
	}
}

/* ここからアクセス */

.access {
	padding-bottom: 8.4rem;
	width: 100%;
}

.contact-info {
	width: 100%;
	display: flex;
	gap: 5rem;
	padding-top: 4.6rem;
		@media screen and (max-width:767px) {
			display: block;
}
}
.location-map iframe {
	@media screen and (max-width:767px) {
	width: 100%;
}
}
.access-item {
	border-bottom: 1px solid #707070;
}

.name {
	font-size: 2.2rem;
	/* font-weight: bold; */
	line-height: calc(33 / 22);
}
.address {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(27 / 18);
	@media screen and (max-width:767px) {
 	font-size: 1.6rem;
		line-height: calc(24 / 16);

	}
}
.tel {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(27 / 18);
	@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(27 / 16);
		}
}
.tel-number {
  font-size: 2.5rem;
	/* font-weight: bold; */
	line-height: calc(40 / 25);
	color: #0D96A0;
}
.e-mail {
		font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(27 / 18);
		@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(24 / 16);
		}
}
 .address {
	padding-top: 1.5rem;
 }
 .tel-link{
	display: flex;
 	align-items: baseline; 
}
 .tel-number {
	padding-top:  1.4rem;
 }
.e-mail {
	padding-top: 0.8rem;
	padding-bottom: 2.7rem;
}
.access-info {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: calc(40 / 18);
	padding-top: 1.5rem;
	padding-bottom: 1.4rem;
	border-bottom: 1px solid #707070;
	@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(30 / 16);
		}
}

/* ここからお問い合わせ */

.contact {
	background-color: rgba(13, 150, 160, 0.102);
	padding-bottom: 8rem;
 
}

.contact-text {
	text-align: center; /* 各行の中央をそろえる */
  margin: 0 auto;
}
.contact-text p {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: calc(30 / 17);
	padding-top: 3.1rem;
  margin: 0;
	@media screen and (max-width:767px) {
		font-size: 1.6rem;
		line-height: calc(30 / 16);
		text-align: left;
	}


}
.form {
	max-width: 880px;
	margin-inline: auto;
	margin-top: 4.3rem;
}
.form__item {
	display: flex;
	column-gap: 2.9rem;

	@media screen and (max-width:767px) {
		display: block;
	}
}

.form__item:not(:first-of-type) {
	margin-top: 3rem;

	@media screen and (max-width:767px) {
		margin-top: 24px;
	}
}

.form__label {
	font-size: 2rem;
	/* font-weight: bold; */
	line-height: calc(33 / 20);
	width: 14rem;

	@media screen and (max-width:767px) {
		width: 100%;
		font-size: 1.8rem;
		line-height: calc(33 / 18);
	}
}

.form__input {
	flex: 1;
}

.form__textarea {
	flex: 1;
	line-height: 0;
}

input[type="text"],
input[type="email"] {
	/* border: 1px solid #707070; */
	height: 4rem;
	width: 100%;
	padding-inline: 15px;
	font-size: 16px;
	background-color: #fff;

	@media screen and (max-width:767px) {
		height: 46px;
	}
}

textarea {
	/* border: 1px solid #707070; */
	height: 300px;
	width: 100%;
	resize: none;
	padding: 15px;
	font-size: 16px;
	line-height: 1.6;
	background-color: #fff;
}

.contact__button {
	margin-top: 40px;
	margin-inline: auto;
	width: 200px;
	@media screen and (max-width:767px) {
  width: 335px;
		}
}

input[type="submit"] {
	width: 100%;
	height: 50px;
	background-color: #0D96A0;
	color: #fff;
	border-radius: 8px;
	font-size: 2.5rem;
	cursor: pointer;
	transition: .4s;
	padding-top: 1px;
	text-align: center;     /* 横方向の中央揃え */
	line-height: calc(33 / 25);

	@media screen and (max-width:767px) {
	font-size: 2rem;
	line-height: calc(26 / 20);
	height: 41px;

}
}
input[type="submit"]:hover {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;

}

/* ここからフッター */
.footer {
	width: 100%;
	height: 28rem;
	background-color: #505050;
	padding-top: 6.6rem;
	padding-bottom: 7.3rem;
@media screen and (max-width:767px) {
	padding-top: 4.5rem;
	padding-bottom: 5rem;
}

}
.footer-box {
	/* padding-top: 6.6rem 17.1rem 7.3rem 17.2rem; */
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;



}
.footer__nav {
	/* padding-bottom: 160px; */
	color: #fff;
	font-size: 2rem;
	line-height: calc(33 / 20);
	border-bottom: 1px solid #fff;
	padding-bottom: 21px;
	max-width: 737px;
	width: 100%;
	margin: 0 auto;
	display: block;
@media screen and (max-width:767px) {
		font-size: 1.8rem;
	}
}

.footer__nav ul {
	display: flex;
	width: 100%;
	column-gap: 1.4rem;
	/* padding-left: 23.8rem;
	padding-bottom: 2.1rem; */
	justify-content: center;
	padding: 0;
	margin: 0;
	@media screen and (max-width:767px) {
flex-wrap: wrap; 
	}
.footer__nav li {
		@media screen and (max-width:767px) {

	white-space: nowrap; /* 単語内での改行を防ぐ */
}
}

}
.footer-copyright {
	/* padding-top: 14.7rem; */
	display: block;

}

.copyright {
	display: flex;
	font-size: 2rem;
	line-height: calc(33 / 20);
	color: #fff;
	padding-top: 2.7rem;
	column-gap: 0.8rem;
	justify-content: center;
		@media screen and (max-width:767px) {
font-size: 1.6rem;
	line-height: calc(33 / 16);

}
}
.sns {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;
	margin-top: 16px;

	@media screen and (max-width:767px) {
		justify-content: center;
	}
}

.sns__list {
	list-style: none;
	line-height: 0;
}

.sns__link {
	width: 24px;
	transition: transform 0.3s ease, opacity 0.3s ease; 
}
.sns__link:hover {
	transform: scale(1.2); /* ホバー時に1.2倍に拡大 */
  opacity: 0.8; /* ちょっと薄くして動きを強調（任意） */
}
