@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	word-break: break-all;
	font-size: 10px;
	/* scroll-padding-top: 50px; */
}
body {
	font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
	color: #505050;
}
.pc {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.sp {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

img {
	width: 100%;
	height: auto;
}
.inner {
  width: 100%;
  max-width: 940px;
  padding-inline: 3rem;
	margin-inline: auto;
  	@media screen and (max-width: 767px) {
      padding-inline: 2rem;
    }
}
.header {
	width: 100%;
	background-color: aquamarine;
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 1000; 
}
.header .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .site-title {
		display: flex;
		column-gap: 0.951rem;
		align-items: center;
		scroll-padding-top: 5rem;
	  transition-duration: 0.4s;
	  height: 100%;

}
.site-icon  {
	width: 2.549rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
}
.site-title h1 a {
	height: 5rem;
	font-size: 1.8rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.site-title h1 a:hover {
		opacity: 0.5;
}
.header__nav ul {
	display: flex;
	column-gap: 1rem;
	align-items: center;

}
.header__nav ul li a {
	height: 5rem;
	font-size: 1.4rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.header__nav a {
		transition: opacity 0.3s ease; /* 変化にアニメーションを付ける */
  cursor: pointer; /* マウスオーバーで手の形に */

}

.header__nav a:hover {
	opacity: 0.5;
}
  /* ここからmain */
.main {
	width: 100%;
	padding-top: 5rem;
}

.fv {
	width: 100vw;
	/* padding-block-start: 50px; */
	position: relative;
  left: 50%;          /* 親(inner)の中央基準に */
  right: 50%;
  margin-left: -50vw; /* 画面全体分マイナスにして幅を広げる */
  margin-right: -50vw;
  overflow: hidden; 
}

picture {
	width: 100%;
	height: auto;
	display: block;
}
.fv__contents {
position: absolute;
/* top: calc(152 / 1080 * 100%); */
top: 15.2rem;
background-color: rgba(255, 255, 255, 0.72);
/* width: calc(493 / 1080 * 100%); */
width: 49.3rem;
/* height:  calc(210 / 500 * 100%); */
height: 21.0rem;
}
.fv__text {
	padding-top: 6rem;
	padding-bottom: 10.7rem;
}
.catch-name {
	font-size: 2.5rem;
	font-weight: bold;
	/* left: 99px;
	top: 23px; */
	translate: 9.9rem 2.3rem;
	/* text-align: center; */
	/* top: 175px; */
	white-space: nowrap;
	/* max-width: 492px; */
	color: #505050;
}
.catch-text {
	font-size: 4rem;
	color: #0D96A0;
	line-height: calc(60 / 40);
	font-weight: bold;
	text-indent: 0;
	translate: 9.9rem 3.4rem;
	/* translate: 99px 34px; */
	/* text-align: center; */
	max-width: 49.2rem;
}
/* .overlay {
  background-color: rgba(255, 255, 255, 0.7); 白＋70%の不透明度
} */
 .fv__text h2 {
	font-size: 3rem;
	font-weight: bold;
	line-height: calc(50 / 30);
	color: #0D96A0;
	display: flex;
	justify-content: center;
	/* padding-top: 60px; */
 }
 .fv-catch {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.833;
	text-align: center; /* 各行の中央をそろえる */
  margin: 0 auto;
	padding-top: 0.9rem
 }
.fv-catch  p {
	margin: 0;
}


/* .fv-catch .a {
	display: flex;
	justify-content: center;

} */
.icon-t {
	text-align: right;
	transform: translate(-9%,-70%);
}
.site-icon-thin {
	width: 8.375rem;
	height: 7.712rem;
}

/* ここから強み */
.strengths {
	background-color: rgba(13, 150, 160, 0.102);
}
.title-wrap {
  display: flex;              
  align-items: center;        
  justify-content: center;   
  gap: 1rem;
	padding-top: 6.3rem; 
}
.title {
  font-size: 2.4rem;
  font-weight: bold;
}

.strengths-images {
	display: block;
}

.strengths-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4.5rem;
	max-width: 880px;
	margin: 0 auto;
	padding: 3rem;
}
.strengths-item-re{
	flex-direction: row-reverse;
}
.strengths-text {
	flex: 1;
}
h3 {
	font-size: 22px;
	font-weight: bold;
	line-height: calc(33 / 22);
	white-space: nowrap;
}
.strengths-text p {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(33 / 18);
  padding-top: 1.9rem;
}
.strengths-image {
	flex: 1;
	/* width: calc(440 / 880 *100%); */
	width: 44rem;
}
.strngths-image img {
	width: 100%;           /* 枠いっぱいに画像を表示 */
  height: auto;
  display: block;
}
.service-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
	padding-top: 5.4rem;

.service-text {
	padding-top: 1.9rem;
	padding-bottom: 5.9rem;
}

}
.service-text h4 {
	font-size: 20px;
	font-weight: bold;
	line-height: calc(25 / 20);
	text-align: center;
	
}
.service-text p {
	font-size: 17px;
	font-weight: 500;
	line-height: calc(30 / 17);
	padding-top: 0.8rem;
}

/* ここからニュース */
.news {
	padding-bottom: 6.8rem;
	background-color: rgba(13, 150, 160, 0.102);

	
}
.border-texts {
	padding-top: 5.2rem;
}

.news-items {
	/* list-style: none;     ・マークを消す 
  margin: 0;
  padding: 0; */
  width: 95%;            /* 任意の幅（例：80%） */
  margin: 0 auto; 
}	       
.news-items li {
  border-top: 1px solid #000; /* 上の線 */
  padding: 17px 0;           
}

.news-items li:last-child {
  border-bottom: 1px solid #000; /* 最後の線 */
}

.news-link {
	display: flex;
	/* align-items: center; */
	gap: 25px;
	padding-left: 1.9rem;
	align-items: flex-start;
	
}
.news-date {
	font-size: 1.7rem;
	font-weight: bold;
	line-height: calc(25 / 17);
	width: 9.2rem;
	/* flex-shrink: 0; */
}
.news-title {
	font-size: 2rem;
	font-weight: bold;
	line-height: calc(25 / 20);
	color: #0D96A0;
	width: 16rem;
	/* flex-shrink: 0; */
	text-align: left;
}
.news-text {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: calc(30 / 17);
	flex: 1;
	text-align: left;


}